/* This are the styles for the entire page in general */
.container {
  flex-direction: column;
  margin: auto;
}

.Section1,
.Section2,
.Section3,
.Section4,
.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* This is Section 1 stuff */
/* This is all for the hero and the part */
.Section1,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.Hero {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin: auto;
  flex-wrap: wrap;
  align-content: flex-start;
}

.logo {
  color: #f9faf8;
  align-items: flex-start;
  font-size: 18px;
}

.Links {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
  color: #e5e7eb;
  font-size: 14px;
  gap: 16px;
}

.Subtitles {
  margin: auto;
  display: flex;
  flex: auto;
  max-width: 1200px;
  flex-direction: row;
  padding: 30px 0 100px 20px;
  align-items: center;
  gap: 20px;
}

.Section1.SubtitlesText {
  font-style: extra-bold;
  flex-direction: column;
  flex: 1;
}

.SubtitlesText h1 {
  font-size: 36px;
  color: #f9faf8;
  margin: 0;
}

.SubtitlesText p {
  color: #e5e7eb;
  font-size: 14px;
}

.SubtitlesText button {
  background-color: #3882f6;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.SubtitlesPicture {
  padding: 10px;
}

/* This is Section2 stuff */
/* The random information is packed in here */
.Section2 {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.Info {
  align-self: center;
}

.Boxes {
  padding: 60px;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
}

.Box1,
.Box2,
.Box3,
.Box4 {
  margin: auto;
  display: inline-block;
  border: 4px solid #3882f6;
  border-radius: 6px;
}

.Pictures {
  height: 100px;
  width: 115px;
}

.Desc1,
.Desc2,
.Desc3,
.Desc4 {
  align-items: center;
}
/* This is Section 3 Stuff */
/* The Quote lies here */
.Section3 {
  background-color: #e5e7eb;
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 80px;
}

.Quote {
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
  align-items: center;
  margin: 14px;
}

.Author {
  font-weight: bold;
  font-size: 14px;
  align-self: last baseline;
}

/* This is section4 stuff */
/* The sign up sheet */
.Section4 {
  background-color: #3882f6;
  border-radius: 4px;
  margin: 50px;
  color: #e5e7eb;
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  align-items: center;
}

.Section4 h5 {
  font-size: 16px;
  margin: 20px;
}

.Section4 p {
  font-size: 14px;
  margin: 20px;
}

.Section4 button {
  border-radius: 4px;
  background-color: #3882f6;
  border-color: #e5e7eb;
  color: #e5e7eb;
  cursor: pointer;
}

.footer {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}
